<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="annotatedDataSearch">
        <h:form>

    <p:tabMenu activeIndex="2">
    <p:menuitem value="#{bundle['nav.rawdata']}" url="/Data/rawDataSearch.jsf" icon="ui-icon-search"/>
    <p:menuitem value="#{bundle['nav.aligneddata']}" url="/Data/alignedDataSearch.jsf" icon="ui-icon-search" />
    <p:menuitem value="#{bundle['nav.annotateddata']}" url="/Data/annotatedDataSearch.jsf" icon="ui-icon-search"/>   
    </p:tabMenu>
        
        <p:dataTable id="annotatedDataTable" var="data" value="#{annotatedDataSearchBean.dataList}" widgetVar="annotatedDataTable"
                     style="font-size: x-small;" paginator="true" rows="20"
                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {RowsPerPageDropdown}
                                        {CurrentPageReport} {NextPageLink} {LastPageLink}"
                     emptyMessage="#{bundle['data.emptymessage']}"   >
          

            <p:column id="idColumn" filterBy="#{data.processedId}"                      
                      headerText="#{bundle['table.header.dataid']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.processedId}" />
            </p:column>
            
             <p:column id="nameColumn" filterBy="#{data.name}"                      
                      headerText="#{bundle['table.header.name']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.name}" />
            </p:column>
            
            <p:column id="descriptionColumn" filterBy="#{data.description}"                      
                      headerText="#{bundle['table.header.description']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.description}" />
            </p:column>
            
            <p:column id="rawIdColumn" filterBy="#{data.rawdata.rawId}"                      
                      headerText="#{bundle['table.header.rawdataid']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.processedId}" />
            </p:column>
        
            <p:column id="alignedIdColumn" filterBy="#{data.aligneddata.processedId}"                      
                      headerText="#{bundle['table.header.aligneddataid']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.aligneddata.processedId}" />
            </p:column>
            
            <p:column id="idSamColumn" filterBy="#{data.rawdata.samplerun.sample.name}"                     
                      headerText="#{bundle['table.header.sample']}"
                      filterMatchMode="contains"> 
                <h:commandLink target="_blank" action="../Sample/sampleDetails.jsf" >
                        <f:param name="sid" value="#{data.rawdata.samplerun.sample.id}"/>
                        <h:outputText value="#{data.rawdata.samplerun.sample.name}"/> 
                        <h:outputLink value="../Sample/sampleDetails.jsf"/> 
                 </h:commandLink>                 
            </p:column>
            
            <p:column id="idRunColumn" filterBy="#{data.rawdata.samplerun.id.runId}"                     
                      headerText="#{bundle['table.header.run']}"
                      filterMatchMode="contains"> 
                <h:commandLink target="_blank" action="../Run/runDetails.jsf" >
                        <f:param name="rid" value="#{data.rawdata.samplerun.id.runId}"/>
                        <h:outputText value="#{data.rawdata.samplerun.id.runId}"/> 
                        <h:outputLink value="../Run/runDetails.jsf"/>
                 </h:commandLink>                 
            </p:column>          
            
            <p:column id="folderColumn" filterBy="#{data.fileUrl}"                      
                      headerText="#{bundle['table.header.folderurl']}"
                      filterMatchMode="contains">
                <h:outputLink
                    value="#{data.fileUrl}">
                    <h:outputText value="#{data.fileUrl}" />
                </h:outputLink>
            </p:column>
            
            <p:column id="assemplyColumn" filterBy="#{data.assembly}"                      
                      headerText="#{bundle['table.header.assembly']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.assembly}" />
            </p:column>
            
            <p:column id="alAlgoColumn" filterBy="#{data.analgo}"                      
                      headerText="#{bundle['table.header.algorithm']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.analgo}" />
            </p:column>
            
            <p:column id="paramColumn" filterBy="#{data.anparams}"                      
                      headerText="#{bundle['table.header.params']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.anparams}" />
            </p:column>
            
            <p:column id="formatColumn" filterBy="#{data.fileformat}"                      
                      headerText="#{bundle['table.header.fileformat']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{data.fileformat}" />
            </p:column>
            
            
                      
        </p:dataTable>
    
        </h:form>
    </ui:define>

    
</ui:composition>