<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="confirmFlowcell">
        
        <h:form id="confirmFlowcellForm">

            <p:dataTable id="sampleTable" var="sampleruns" value="#{flowCellConfirmationBean.sampleRuns}" widgetVar="samplesTable"
                     style="font-size: x-small;" paginator="true" rows="20"
                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {RowsPerPageDropdown}
                                        {CurrentPageReport} {NextPageLink} {LastPageLink}"
                     emptyMessage="No samples found with given criteria"  
                     selection="#{flowCellConfirmationBean.selectedSampleRuns}"  selectionMode="multiple">
            
         
            <p:column id="idSamColumn" filterBy="#{sampleruns.sample.id}"                     
                      headerText="#{bundle['samples.sample.id']}"
                      filterMatchMode="contains"
                      sortBy="#{sampleruns.sample.id}">                 
                   
                <h:commandLink target="_blank" action="#{modSampleFormBean.loadid(sampleruns.sample.id)}" >                        
                        <h:outputText value="#{sampleruns.sample.id}"/>                          
                 </h:commandLink>
                 
                 
            </p:column>
                
            <p:column id="idRunColumn" filterBy="#{sampleruns.id.runId}"                     
                      headerText="#{bundle['runs.run.id']}"
                      filterMatchMode="contains"
                      sortBy="#{sampleruns.id.runId}">                 
                 
                 <h:commandLink target="_blank" action="/Run/samplerunDetails">
                        <f:param name="rid" value="#{sampleruns.id.runId}"/>
                        <f:param name="sid" value="#{sampleruns.sample.id}"/>
                        <h:outputText value="#{sampleruns.id.runId}"/>
                 </h:commandLink>   
                 
                 
            </p:column>
             
            <p:column id="nameColumn" filterBy="#{sampleruns.sample.name}"                      
                      headerText="#{bundle['samples.sample.name']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.sample.name}" />
            </p:column>
                
            <p:column id="operatorColumn" filterBy="#{sampleruns.user.login}"                      
                      headerText="#{bundle['runs.operator.header']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.user.login}" />
            </p:column>
            
            <p:column id="requesterColumn" filterBy="#{sampleruns.sample.user.login}"                      
                      headerText="#{bundle['runs.requester']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.sample.user.login}" />
            </p:column>
                     
            <p:column id="seqColumn" filterBy="#{sampleruns.reagentBySequencingReagentCode.reagentBarCode}"                      
                      headerText="#{bundle['runs.sequencing.reagent']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.reagentBySequencingReagentCode.reagentBarCode}" />
            </p:column>
            
            <p:column id="clusterGenColumn" filterBy="#{sampleruns.reagentByClustergenerationReagentCode.reagentBarCode}"                      
                      headerText="#{bundle['runs.cluster.reagent']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.reagentByClustergenerationReagentCode.reagentBarCode}" />
            </p:column>
            
            <p:column id="prepColumn" filterBy="#{sampleruns.reagentBySamplePrepReagentCode.reagentBarCode}"                      
                      headerText="#{bundle['runs.sampleprep.ragent']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.reagentBySamplePrepReagentCode.reagentBarCode}" />
            </p:column>
            
            <p:column id="flowcellColumn" filterBy="#{sampleruns.flowcell}"                      
                      headerText="#{bundle['runs.flowcell']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.flowcell}" />
            </p:column>
            
            <p:column id="laneColumn" filterBy="#{sampleruns.allLanesToString}"                      
                      headerText="#{bundle['runs.lane']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.allLanesToString}" />
            </p:column>
            
            <p:column id="seqindexColumn" filterBy="#{sampleruns.sample.sequencingIndexes.index}"                      
                      headerText="#{bundle['runs.sequencing.index']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.sample.sequencingIndexes.index}" />
            </p:column>
            
            <p:column id="isControlColumn" filterBy="#{sampleruns.isControl}"                      
                      headerText="#{bundle['runs.is.control']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.isControl}" />
            </p:column>
            
            <p:column id="runFolderColumn" filterBy="#{sampleruns.runFolder}"                      
                      headerText="#{bundle['runs.run.folder']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{sampleruns.runFolder}" />
            </p:column>
             
            
         </p:dataTable>  
            <h:panelGrid columns="2">
                <p:panel header="#{bundle['export.All']}">
                    <h:commandLink>
                        <p:graphicImage value="/img/csv.png" />
                        <p:dataExporter type="csv" target="sampleTable" fileName="Flowcell" pageOnly="false" />
                    </h:commandLink>

                </p:panel>
                
                <p:panel header="#{bundle['export.Page']}">
                    <h:commandLink>
                        <p:graphicImage value="/img/csv.png" />
                        <p:dataExporter type="csv" target="sampleTable" fileName="Flowcell" pageOnly="true" />
                    </h:commandLink>

                </p:panel>

            </h:panelGrid>   
            <p:commandButton value="#{bundle['button.text.confirm.selected']}" 
                             action="#{flowCellConfirmationBean.setSelectedToRunning()}" type="update"                             
                             update="confirmFlowcellForm">                
            </p:commandButton>
            
            

        </h:form>
        
    </ui:define>

</ui:composition>

