<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="newSampleForm">


        <h:form id="RequestForm">

            <p:panel id="NGSRequestsspanel" header="#{bundle['samples.new.sample.title']}">

                <h:panelGrid columns="3" cellpadding="5">

                    <h:outputLabel for="NGSRequestsloadbutton" value="#{bundle['samples.modify.hint']}: " />
                    <p:commandButton id="NGSRequestsloadbutton" value="#{bundle['button.text.load']}" actionListener="#{newSampleFormBean.load()}" 
                                     update="costCenter,biomolarity,sequencingindex,biodate,comments,sampleDescription,application,readMode,depth,instrument" />
                    <p:message for="NGSRequestsloadbutton" /> 

                    <h:outputLabel for="sampleID" value="#{bundle['samples.sample.id']}: * " />
                    <p:inputMask style="width:300px;"  required="false" id="sampleID" value="#{newSampleFormBean.sampleID}" mask="" immediate="true"/>
                    <p:message for="sampleID" />                   



                    <p:separator id="customSeparator30" style="width:300px;height:5px" /> 
                    <h:outputText value="#{bundle['samples.user.info']}"/>
                    <p:separator id="customSeparator32" style="width:300px;height:5px" /> 

                    <h:outputLabel for="userLogin" value="#{bundle['user.login']}:  " />
                    <h:outputText  style="width:300px;" id="userLogin" value="#{newSampleFormBean.userLogin}"/>
                    <p:message for="userLogin" />

                    <h:outputLabel for="userName" value="#{bundle['user.name']}:  " />
                    <h:outputText  style="width:300px;" id="userName" value="#{newSampleFormBean.userName}"/>
                    <p:message for="userName" />

                    <h:outputLabel for="userEmail" value="#{bundle['user.email']}:  " />
                    <h:outputText  style="width:300px;" id="userEmail" value="#{newSampleFormBean.userEmail}"/>
                    <p:message for="userEmail" />

                    <h:outputLabel for="userTel" value="#{bundle['user.tel']}:  " />
                    <h:outputText  style="width:300px;" id="userTel" value="#{newSampleFormBean.userTel}"/>
                    <p:message for="userTel" />

                    <h:outputLabel for="pi" value="#{bundle['user.pi']}:  " /> 
                    <h:outputText  style="width:300px;" id="pi" value="#{newSampleFormBean.piLogin}"/>
                    <p:message  for="pi" />

                    <h:outputLabel for="costCenter" value="#{bundle['samples.cost.center']}:  " />
                    <p:inputMask style="width:300px;" required="false" id="costCenter" value="#{newSampleFormBean.costCenter}" mask="" immediate="true"/>
                    <p:message id="mcost" for="costCenter" />



                    <p:separator id="customSeparator40" style="width:300px;height:5px" />
                    <h:outputText value="#{bundle['samples.application.info']}:  "/>
                    <p:separator id="customSeparator42" style="width:300px;height:5px" />
                    
                    
                    

                    <h:outputLabel for="application" value="#{bundle['samples.application.application']}:  " /> 
                    <h:selectOneMenu style="width:500px;" required="false" value="#{newSampleFormBean.applicationName}" immediate="true" >
                        <f:selectItems id="application" value="#{preferences.ngsapplication}"/>
                        <p:ajax   event="valueChange"  update="recipe1,readMode,depth,readLength1" immediate="true" />
                    </h:selectOneMenu>
                    <p:message id="mapp" for="application" />
                    
                    <h:outputLabel for="recipe" value="#{bundle['recipe']}:  " /> 
                    <h:selectOneMenu id="recipe1" style="width:500px;" required="true" value="#{newSampleFormBean.recipe}" immediate="true">
                    <p:ajax   event="valueChange"  update="readMode,depth,readLength1" immediate="true"/>
                        <f:selectItems id="recipe" value="#{newSampleFormBean.recipeNames}" />
                        
                    </h:selectOneMenu>
                    <p:message id="mrecipe" for="recipe" />
                    
                    <h:outputLabel for="readMode" value="#{bundle['samples.read.mode']}:  " />
                    <h:outputText  style="width:500px;" id="readMode" value="#{newSampleFormBean.readMode}"/>
                    <p:message id="mreadm" for="readMode" />
                    
                    <h:outputLabel for="readLength1" value="#{bundle['samples.read.length']}:  " />
                    <h:outputText  style="width:500px;" id="readLength1" value="#{newSampleFormBean.readLength}"/>
                    <p:message id="mreadl" for="readLength1" />
                    
                    <h:outputLabel for="depth" value="#{bundle['samples.depth']}:  " />
                    <h:outputText  style="width:500px;" id="depth" value="#{newSampleFormBean.depth}"/>
                    <p:message id="mdepth" for="depth" />

                    <h:outputLabel for="instrument" value="#{bundle['samples.instrument']}:  " /> 
                    <h:selectOneMenu style="width:500px;" required="false" value="#{newSampleFormBean.instrument}">
                        <f:selectItems id="instrument" value="#{preferences.instrument}"/>
                    </h:selectOneMenu>
                    <p:message id="minstrument" for="instrument" />                            

                    <p:separator id="customSeparator1" style="width:300px;height:5px" /> 
                    <h:outputText value="#{bundle['samples.library.information']}"/>
                    <p:separator id="customSeparator2" style="width:300px;height:5px" />  
                    
                    
                    
                    
                  

                    <h:outputLabel for="librarySynthesis" value="#{bundle['samples.libsysthesis']}:  " /> 
                    <p:selectBooleanCheckbox id="librarySynthesis" required="false" value="#{newSampleFormBean.librarySynthesis}" >
                        <p:ajax event="change" update="biomolarity,sequencingindex,biodate,comments,sampleDescription" />
                    </p:selectBooleanCheckbox>
                    <p:message id="mlib" for="librarySynthesis" />

                    <h:outputLabel for="sequencingindex" value="#{bundle['samples.sequencing.index']}:  " />
                    <p:selectCheckboxMenu id="sequencingindex" value="#{newSampleFormBean.selectedIndexes}"
                                          label="Indexes" filter="true" filterMatchMode="startsWith" panelStyle="width:220px"
                                          disabled="#{newSampleFormBean.librarySynthesis}">
                        <f:selectItems value="#{newSampleFormBean.possibleIndexes}" var="pi" itemLabel="#{pi.index}" itemValue="#{pi.index}" />
                        <p:ajax event="change" update="comments,sampleDescription" />
                    </p:selectCheckboxMenu>                          
                    <p:message id="mindex" for="sequencingindex" />
                    
                    <h:outputLabel for="biodate" value="#{bundle['samples.bionalyzer.biodate']}:  " />
                    <p:calendar id="biodate" required="false" value="#{newSampleFormBean.biodate}" immediate="true" disabled="#{newSampleFormBean.librarySynthesis}" pattern="dd-MM-yyyy"/> 
                    <p:message id="mbiodate" for="biodate" />

                    

                    <h:outputLabel for="biomolarity" value="#{bundle['samples.bionalyzer.biomolarity']}  " />  
                    <p:inputMask style="width:300px;" required="false" id="biomolarity" value="#{newSampleFormBean.biomolarity}" 
                                 disabled="#{newSampleFormBean.librarySynthesis}" mask="999.9" immediate="true"/>
                    <p:message id="mmolarity" for="biomolarity" />

                    <p:separator id="customSeparator10" style="width:300px;height:5px" /> 
                    <h:outputText value="#{bundle['samples.sample.info']}"/>
                    <p:separator id="customSeparator12" style="width:300px;height:5px" /> 

                    <h:outputLabel for="sampleName" value="#{bundle['samples.sample.name']}:  " />
                    <p:inputMask style="width:300px;" required="false" id="sampleName" value="#{newSampleFormBean.sampleName}" mask="" immediate="true"/>
                    <p:message id="mname" for="sampleName" />


                    <h:outputLabel for="sampleType" value="#{bundle['samples.type']}:  " /> 
                    <h:selectOneMenu style="width:300px;" required="false" value="#{newSampleFormBean.sampleType}">
                        <f:selectItems id="sampleType" value="#{preferences.sampletype}"/>
                    </h:selectOneMenu>
                    <p:message id="mtype" for="sampleType" />


                    <h:outputLabel for="organism" value="#{bundle['samples.organism']}:  " /> 
                    <h:selectOneMenu style="width:300px;" required="false" value="#{newSampleFormBean.organism}">
                        <f:selectItems id="organism" value="#{preferences.organisms}"/>
                    </h:selectOneMenu>
                    <p:message id="morganism" for="organism" />

                    <h:outputLabel for="sampleConcentration" value="#{bundle['samples.concentration']}:  " />
                    <p:inputMask style="width:300px;" required="false" id="sampleConcentration" value="#{newSampleFormBean.sampleConcentration}" mask="999.9" immediate="true"/>
                    <p:message id="mconcentration" for="sampleConcentration" />

                    <h:outputLabel for="totalAmount" value="#{bundle['samples.total.amount']}:  " />
                    <p:inputMask style="width:300px;" required="false" id="totalAmount" value="#{newSampleFormBean.totalAmount}" mask="999.9" immediate="true"/>
                    <p:message id="mamount" for="totalAmount" />

                    <h:outputLabel for="bulkFragmentSize" value="#{bundle['samples.bulk.fragment.size']}:  " />
                    <p:inputMask style="width:300px;" required="false" id="bulkFragmentSize" value="#{newSampleFormBean.bulkFragmentSize}" mask="999" immediate="true"/>
                    <p:message id="mbulk" for="bulkFragmentSize" />

                    <h:outputLabel for="antibody" value="#{bundle['samples.antibody']}: " />
                    <p:inputMask style="width:300px;"  id="antibody" value="#{newSampleFormBean.antibody}" mask="" immediate="true"/>                                
                    <p:message id="mantibody" for="antibody" /> 


                    <h:outputLabel for="sampleDescription" value="#{bundle['samples.description']}: " />
                    <p:tabView id="sampleDescription" style="width:400px;" var="specSampleD" value="#{newSampleFormBean.selectedIndexes}"
                               activeIndex="#{newSampleFormBean.tab1Index}"  >
                        <p:tab id="desc"  title="#{specSampleD.title}"   >
                            <p:inputTextarea  id="description" style="width:300px;height:100px;" value="#{specSampleD.description}" />
                        </p:tab>
                    </p:tabView>                               
                    <p:message id="mdescription" for="sampleDescription" />                            

                    <h:outputLabel for="comments" value="#{bundle['samples.comments']}: " />
                    <p:tabView id="comments" style="width:400px;" var="specSampleC" value="#{newSampleFormBean.selectedIndexes}"
                               activeIndex="#{newSampleFormBean.tab2Index}">                                
                        <p:tab id="commentSample"  title="#{specSampleC.title}" >
                            <p:inputTextarea  id="comment" style="width:300px;height:100px;" value="#{specSampleC.comment}" />                                    
                        </p:tab>
                    </p:tabView>                  
                    <p:message id="mcomments" for="comments" /> 

                    <p:separator id="customSeparator20" style="width:300px;height:5px" /> 
                    <h:outputText value="submit"/>                            
                    <p:separator id="customSeparator22" style="width:300px;height:5px" /> 

                    <p:commandButton actionListener="#{newSampleFormBean.reset()}" id="resetal" value="#{bundle['button.text.reset']}"  type="reset" update="NGSRequestsspanel"   />
                    <p:commandButton action="#{newSampleFormBean.submit()}"
                                     title="#{bundle['button.text.reset']}"
                                     id="NGSRequestssubmitbutton" value="#{bundle['button.text.submit']}" 
                                     update="mcost,mapp,mreadm,mreadl,mdepth,minstrument,mlib,mindex,mbiodate,mmolarity,mname,mtype,morganism,mconcentration,mamount,mbulk,mantibody,mdescription,mcomments,mbutton"
                                     disabled="#{!newSampleFormBean.userHasAddPermission}"/>
                    <p:message id="mbutton" for="NGSRequestssubmitbutton" />

                </h:panelGrid>

            

            </p:panel>

          
        </h:form>
        
        <!--
                    <h:outputLabel for="readMode" value="#{bundle['samples.read.mode']}:  " /> 
                    <h:selectOneMenu style="width:450px;" required="false"
                                     value="#{newSampleFormBean.readMode}">
                        <f:selectItems id="readMode" value="#{preferences.readmode}"/>
                        <p:ajax   event="valueChange"  update="depth" />
                    </h:selectOneMenu>
                    <p:message id="mreadm" for="readMode" />
        
         <h:outputLabel rendered="true" for="readLength1" value="#{bundle['samples.read.length']}:  " /> 
                    <h:selectOneMenu style="width:450px;" rendered="true" required="false" value="#{newSampleFormBean.readLength}">
                        <f:selectItems id="readLength1" value="#{preferences.readlength}"/>                                
                    </h:selectOneMenu>          
                    <p:message id="mreadl" rendered="true" for="readLength1" />
        
        
        <h:outputLabel for="depth" value="#{bundle['samples.depth']}: " />  
                    <h:selectOneMenu id="depth" style="width:450px;" rendered="true" required="false" value="#{newSampleFormBean.depth}">
                        <f:selectItems  value="#{newSampleFormBean.possibleDepths}"/>                                
                    </h:selectOneMenu>                            
                    <p:message id="mdepth" for="depth" /> 
        
        <h:outputLabel for="biodate" value="#{bundle['samples.bionalyzer.biodate']}:  " />  
                    <p:inputMask style="width:300px;" required="false" id="biodate" value="#{newSampleFormBean.biodate}" 
                                 disabled="#{newSampleFormBean.librarySynthesis}" mask="99-99-9999" immediate="true"/>
                    <p:message id="mbiodate" for="biodate" />
                    -->



    </ui:define>

</ui:composition>


