<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="sampleDetails">
      
   

         <h:form id="SampledetailsForm">
             
            
             <p:panel id="sampleDetailPanel" header="#{modSampleFormBean.sampleName} #{bundle['samples.details']}">
                 
                 <h:panelGrid columns="3" cellpadding="5">
                                                             
                            <h:outputLabel for="sampleID" value="#{bundle['samples.sample.id']}: * " />
                            <h:outputText style="width:300px;"  id="sampleID" value="#{modSampleFormBean.sampleID}" />
                            <p:message for="sampleID" />
                     
                            
                            <p:separator id="customSeparator30" style="width:300px;height:5px" /> 
                            <h:outputText value="#{bundle['samples.user.info']}"/>
                            <p:separator id="customSeparator32" style="width:300px;height:5px" /> 

                            <h:outputLabel for="userLogin" value="#{bundle['user.login']}:  " />
                            <h:outputText  style="width:300px;" id="userLogin" value="#{modSampleFormBean.userLogin}"/>
                            <p:message for="userLogin" />

                            <h:outputLabel for="userName" value="#{bundle['user.name']}:  " />
                            <h:outputText  style="width:300px;" id="userName" value="#{modSampleFormBean.userName}"/>
                            <p:message for="userName" />

                            <h:outputLabel for="userEmail" value="#{bundle['user.email']}:  " />
                            <h:outputText  style="width:300px;" id="userEmail" value="#{modSampleFormBean.userEmail}"/>
                            <p:message for="userEmail" />

                            <h:outputLabel for="userTel" value="#{bundle['user.tel']}:  " />
                            <h:outputText  style="width:300px;" id="userTel" value="#{modSampleFormBean.userTel}"/>
                            <p:message for="userTel" />

                            <h:outputLabel for="pi" value="#{bundle['user.pi']}:  " /> 
                            <h:outputText  style="width:300px;" id="pi" value="#{modSampleFormBean.piLogin}"/>
                            <p:message for="pi" />

                            <h:outputLabel for="costCenter" value="#{bundle['samples.cost.center']}:  " />
                            <p:inputMask style="width:300px;" required="false" id="costCenter" 
                                         value="#{modSampleFormBean.costCenter}" mask="" immediate="true"/>
                            <p:message for="costCenter"/>
                                         
                            
                            <p:separator id="customSeparator40" style="width:300px;height:5px" />
                            <h:outputText value="#{bundle['samples.application.info']}:  "/>
                            <p:separator id="customSeparator42" style="width:300px;height:5px" />
                           
                            
                            <h:outputLabel for="application" value="#{bundle['samples.application.application']}:  " /> 
                            <h:selectOneMenu style="width:300px;" required="false" value="#{modSampleFormBean.applicationName}" immediate="true" >
                                <f:selectItems id="application" value="#{preferences.ngsapplication}" />                                
                            </h:selectOneMenu>
                            <p:message for="application" />
                            
                            <h:outputLabel for="readMode" value="#{bundle['samples.read.mode']}:  " /> 
                            <h:selectOneMenu style="width:300px;" required="false" value="#{modSampleFormBean.readMode}">
                                <f:selectItems id="readMode" value="#{preferences.readmode}"/>
                                <p:ajax   event="valueChange"  update="depth" />
                            </h:selectOneMenu>
                            <p:message for="readMode" />
                            
                            <h:outputLabel rendered="true" for="readLength" value="#{bundle['samples.read.length']}:  " /> 
                            <h:selectOneMenu style="width:300px;" rendered="true" required="false" value="#{modSampleFormBean.readLength}">
                                <f:selectItems id="readLength" value="#{preferences.readlength}"/>                                
                            </h:selectOneMenu>          
                            <p:message rendered="true" for="readLength" />
                            
                            <h:outputLabel for="depth" value="#{bundle['samples.depth']}: " />  
                            <h:selectOneMenu  id="depth" style="width:300px;" rendered="true" required="false" value="#{modSampleFormBean.depth}">
                                <f:selectItems  value="#{preferences.depth}"/>                                
                            </h:selectOneMenu>                            
                            <p:message for="depth" /> 

                            <h:outputLabel for="instrument" value="#{bundle['samples.instrument']}:  " /> 
                            <h:selectOneMenu style="width:300px;" required="false" value="#{modSampleFormBean.instrument}">
                                <f:selectItems id="instrument" value="#{preferences.instrument}"/>
                            </h:selectOneMenu>
                            <p:message for="instrument" />   
                            
                            
                     
                            
                            
                            <p:separator id="customSeparator1" style="width:300px;height:5px" /> 
                            <h:outputText value="#{bundle['samples.library.information']}"/>
                            <p:separator id="customSeparator2" style="width:300px;height:5px" />                            
                            
                            <h:outputLabel for="librarySynthesis" value="#{bundle['samples.libsysthesis']}:  " /> 
                           <p:selectBooleanCheckbox id="librarySynthesis" required="false" value="#{modSampleFormBean.librarySynthesis}">
                            </p:selectBooleanCheckbox>
                            <p:message for="librarySynthesis" />
                            
                            <h:outputLabel for="sequencingindex" value="#{bundle['samples.sequencing.index']}:  " />
                            <h:selectOneMenu style="width:300px;" id="sequencingMenu" required="false" value="#{modSampleFormBean.sequencingindex}">
                                <f:selectItems id="sequencingindex" value="#{modSampleFormBean.possibleIndexes}"/>
                            </h:selectOneMenu>                              
                            <p:message for="sequencingindex" />
                            
                            
                            <h:outputLabel for="biodate" value="#{bundle['samples.bionalyzer.biodate']}:  " />  
                            <p:calendar id="biodate" required="false" value="#{modSampleFormBean.biodate}" immediate="true" disabled="#{newSampleFormBean.librarySynthesis}" pattern="dd-MM-yyyy"/> 
                            <p:message for="biodate" />
                            
                            <h:outputLabel for="biomolarity" value="#{bundle['samples.bionalyzer.biomolarity']}  " />  
                            <p:inputMask style="width:300px;" required="false" id="biomolarity" value="#{modSampleFormBean.biomolarity}"  mask="" />
                            <p:message for="biomolarity" />

                            
                            <p:separator id="customSeparator10" style="width:300px;height:5px" /> 
                            <h:outputText value="#{bundle['samples.sample.info']}"/>
                            <p:separator id="customSeparator12" style="width:300px;height:5px" /> 
                            
                            <h:outputLabel for="sampleName" value="#{bundle['samples.sample.name']}:  " />
                            <p:inputMask style="width:300px;" required="false" id="sampleName" value="#{modSampleFormBean.sampleName}" mask="" immediate="true"/>
                            <p:message for="sampleName" />
                            

                            <h:outputLabel for="sampleType" value="#{bundle['samples.type']}:  " /> 
                            <h:selectOneMenu style="width:300px;" required="false" value="#{modSampleFormBean.sampleType}">
                                <f:selectItems id="sampleType" value="#{preferences.sampletype}"/>
                            </h:selectOneMenu>
                            <p:message for="sampleType" />

                            <h:outputLabel for="organism" value="#{bundle['samples.organism']}:  " /> 
                            <h:selectOneMenu style="width:300px;" required="false" value="#{modSampleFormBean.organism}">
                                <f:selectItems id="organism" value="#{preferences.organisms}"/>
                            </h:selectOneMenu>
                            <p:message for="organism" />

                            <h:outputLabel for="sampleConcentration" value="#{bundle['samples.concentration']}:  " />
                            <p:inputMask style="width:300px;" required="false" id="sampleConcentration" value="#{modSampleFormBean.sampleConcentration}" mask="" immediate="true"/>
                            <p:message for="sampleConcentration" />

                            <h:outputLabel for="totalAmount" value="#{bundle['samples.total.amount']}:  " />
                            <p:inputMask style="width:300px;" required="false" id="totalAmount" value="#{modSampleFormBean.totalAmount}" mask="" immediate="true"/>
                            <p:message for="totalAmount" />

                            <h:outputLabel for="bulkFragmentSize" value="#{bundle['samples.bulk.fragment.size']}:  " />
                            <p:inputMask style="width:300px;" required="false" id="bulkFragmentSize" value="#{modSampleFormBean.bulkFragmentSize}" mask="" immediate="true"/>
                            <p:message for="bulkFragmentSize" />

                            <h:outputLabel for="antibody" value="#{bundle['samples.antibody']}: " />
                            <p:inputMask style="width:300px;"  id="antibody" value="#{modSampleFormBean.antibody}" mask="" immediate="true"/>                                
                            <p:message for="antibody" /> 
                            
                            <h:outputLabel for="sampleDescription" value="#{bundle['samples.description']}: " />
                            <p:inputTextarea  id="sampleDescription" style="width:300px;height:100px;" value="#{modSampleFormBean.sampleDescription}" immediate="true"/>                                
                            <p:message for="sampleDescription" />                            
                         
                            <h:outputLabel for="comments" value="#{bundle['samples.comments']}: " />
                            <p:inputTextarea  id="comments" style="width:300px;height:100px;" value="#{modSampleFormBean.comments}" immediate="true"/>                            
                            <p:message for="comments" /> 
                            
                            <h:outputLabel for="status" value="#{bundle['samples.status']}: " />
                            <h:outputText id="status" value="#{modSampleFormBean.status}" />                            
                            <p:message for="status" /> 
                            
                            <p:separator id="customSeparator15" style="width:300px;height:5px" /> 
                            <h:outputText value="Update"/>
                            <p:separator id="customSeparator16" style="width:300px;height:5px" /> 
                            
                            <p:commandButton action="#{modSampleFormBean.delete()}" 
                                             disabled="#{!modSampleFormBean.hasModifyPermission}" 
                                             id="SampleDeletionButton" value="#{bundle['button.text.delete']}" update="SampledetailsForm" immediate="true">                                             
                            </p:commandButton>
                            <p:commandButton actionListener="#{modSampleFormBean.modify()}" 
                                             disabled="#{!modSampleFormBean.hasModifyPermission}" 
                                             id="SampleModbutton" value="#{bundle['button.text.save']}" update="sampleDetailPanel">
                                             
                            </p:commandButton>
                            <p:message for="SampleModbutton"/>
                            
                            <p:separator style="width:300px;height:5px" /> 
                            <h:outputText value="#{bundle['samples.rich.information']}"/>
                            <p:separator style="width:300px;height:5px" />
                            
                            <h:outputLabel  value="" />
                            <p:button outcome="sampleAttributes.jsf" id="RichButton" value="#{bundle['samples.show.attributes']}" >
                                             <f:param name="sid" value="#{modSampleFormBean.sampleID}"/>
                            </p:button>
                            <p:message for="RichButton"/>
                            
                            
                        
                 
                 </h:panelGrid>
             
             </p:panel>
             
         </h:form>
               
    </ui:define>

</ui:composition>

