<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="sampleDeleted">

        <h:form id="SampleDeletedForm">

            
            
            #{bundle['samples.deleted']}: #{sampleFormBean.sampleID} 
            <p></p>
            
        </h:form>

    </ui:define>

</ui:composition>



