<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="newReagentForm" >
        
        <h:form id="NewReagentDetailsForm"  >
            
                       
            <p:panel id="NewReagentFormPanel" header="#{bundle['button.text.new.reagent']}">
                 
              <h:panelGrid columns="3" cellpadding="5">
            
                            <p:separator style="width:300px;height:5px" />
                            <h:outputText value="#{bundle['reagents.application.info']}"/>
                            <p:separator style="width:300px;height:5px" />
                            
                            <h:outputLabel for="barCode" value="#{bundle['reagents.barcode']}:  " />
                            <h:inputText  style="width:300px;" id="barCode" value="#{newReagentFormBean.reagentbarcode}"/>
                            <p:message for="barCode" />
                            
                            <h:outputLabel for="supportedreactions" value="#{bundle['reagents.reactions.remaining']}:  " />
                            <p:inputText  style="width:300px;" id="supportedreactions" value="#{newReagentFormBean.supportedreactions}"/>
                            <p:message for="supportedreactions" />
                            
                            <h:outputLabel for="application" value="#{bundle['reagents.application']}:  " />
                            <h:selectOneMenu style="width:300px;" required="false" value="#{newReagentFormBean.application}">
                                <f:selectItems id="application" value="#{preferences.application}"/>
                            </h:selectOneMenu> 
                            <p:message for="application" />     
                            
                            <h:outputLabel for="receptiondate" value="#{bundle['reagents.reception.date']}:  " />
                            <p:calendar id="receptiondate" required="false" value="#{newReagentFormBean.receptiondate}" immediate="true" pattern="dd-MM-yyyy"/> 
                            <p:message id="mreceptiondate" for="receptiondate" />
                                               
                            <h:outputLabel for="expirationdate" value="#{bundle['reagents.expiration.date']}:  " />
                            <p:calendar id="expirationdate" required="false" value="#{newReagentFormBean.expirationdate}" immediate="true" pattern="dd-MM-yyyy"/> 
                            <p:message id="mexpirationdate" for="expirationdate" />
                            
                            <p:separator style="width:300px;height:5px" />
                            <h:outputText value="#{bundle['reagents.administration.info']}"/>
                            <p:separator style="width:300px;height:5px" />
                            
                            <h:outputLabel for="operator" value="#{bundle['reagents.operator']}:  " />
                            <h:outputText  style="width:300px;" id="operator" value="#{newReagentFormBean.operatorLogin}"/>
                            <p:message for="operator" />
                            
                            <h:outputLabel for="owner" value="#{bundle['reagents.owner']}:  " />
                            <h:selectOneMenu style="width:300px;" required="false" value="#{newReagentFormBean.ownerLogin}">
                                <f:selectItems id="owner" value="#{newReagentFormBean.userNames}"/>
                            </h:selectOneMenu>
                            <p:message for="owner" />
                            
                            <h:outputLabel for="cataloguenumber" value="#{bundle['reagents.catalogue.number']}: " />
                            <p:inputText  style="width:300px;" id="cataloguenumber" value="#{newReagentFormBean.cataloguenumber}"/>
                            <p:message for="cataloguenumber" />
                            
                            <h:outputLabel for="price" value="#{bundle['reagents.price']}: " />
                            <p:inputText  style="width:300px;" id="price" value="#{newReagentFormBean.price}"/>
                            <p:message for="price" />
                            
                            <h:outputLabel for="institute" value="#{bundle['reagents.institute']}: " />
                            <p:inputText  style="width:300px;" id="institute" value="#{newReagentFormBean.institute}"/>
                            <p:message for="institute" />
                            
                            <h:outputLabel for="costcenter" value="#{bundle['reagents.cost.center']}: " />
                            <p:inputText  style="width:300px;" id="costcenter" value="#{newReagentFormBean.costcenter}"/>
                            <p:message for="costcenter" />
                            
                            <p:separator style="width:300px;height:5px" />
                            <h:outputText value="#{bundle['reagents.comments']}"/>
                            <p:separator style="width:300px;height:5px" />
                            
                            <h:outputLabel for="comments" value="" />
                            <p:inputTextarea  style="width:300px;height:100px;" id="comments" value="#{newReagentFormBean.comments}"/>
                            <p:message for="comments" />
                            
                            <p:separator style="width:300px;height:5px" />
                            <h:outputText value="#{bundle['reagents.options']}"/>
                            <p:separator style="width:300px;height:5px" />
                            
                            
                            <h:outputLabel for="SaveNew" value="" />
                            <p:commandButton  update="NewReagentDetailsForm" action="#{newReagentFormBean.saveNew()}"
                                              id="SaveNew" value="#{bundle['button.text.save']}" disabled="#{!newReagentFormBean.hasNewPermission()}">                                                
                            </p:commandButton>
                            <p:message for="SaveNew"/>
        
                 </h:panelGrid>
             
             </p:panel>
            
        </h:form>
               
    </ui:define>

</ui:composition>

