<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="modProjectText">

        <h:form id="ModProjectTextForm">
            
             <p:panel id="projectDetailPanel" header="#{bundle['project.mod.project']}">
                 
                 <h:panelGrid columns="3" cellpadding="5">
                     
                            <p:separator id="customSeparator1" style="width:300px;height:5px" /> 
                            <h:outputText value="#{bundle['project.info']}"/>
                            <p:separator id="customSeparator2" style="width:300px;height:5px" />
                            
                            <h:outputLabel for="projectID" value="#{bundle['project.id']}:  " />
                            <h:link style="width:300px;"  id="projectID" 
                                    value="#{modProjectTextBean.projectId}" outcome="projectDetails.jsf">
                                <f:param name="pid" value="#{modProjectTextBean.projectId}"/>
                            </h:link>
                            <p:message for="projectID" />
                            
                            <h:outputLabel for="name" value="#{bundle['project.name']}:  " />
                            <h:inputText style="width:300px;"  id="name" value="#{modProjectTextBean.name}" />
                            <p:message for="name" />
                            
                            <h:outputLabel for="user" value="#{bundle['project.leader']}:  " />
                            <h:outputText style="width:300px;"  id="user" value="#{modProjectTextBean.userName}" />
                            <p:message for="user" />
                            
                            <h:outputLabel for="description" value="#{bundle['project.description']}:  " />
                            <p:inputTextarea rows="20" cols="60" counter="counter" maxlength="1000"                                             
                                             counterTemplate="{0} #{bundle['project.characters.remaining']}." autoResize="false"                                             
                                             id="description" value="#{modProjectTextBean.description}" />
                            <h:outputText id="counter" />
                            
                            <h:outputLabel for="save" value="" />
                            <p:commandButton id="save" value="#{bundle['button.text.save']}" action="#{modProjectTextBean.save()}" update="ModProjectTextForm">
                                <f:param name="pid" value="#{modProjectTextBean.projectId}" />
                            </p:commandButton>
                            <p:message for="save" />                            
                 
                 </h:panelGrid>
                             
                 
             </p:panel>
             
                    
           
             
         </h:form>
        
        
    </ui:define>

</ui:composition>
