<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="projectsSearch">
        
        <h:form id="projectsSearchForm">

        <p:dataTable id="projectsTable" var="projects" value="#{projectsSearchBean.projectsList}" widgetVar="projectsTable"
                     style="font-size: x-small;" paginator="true" rows="20"  
                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {RowsPerPageDropdown}
                                        {CurrentPageReport} {NextPageLink} {LastPageLink}"
                     emptyMessage="#{bundle['project.emptymessage']}"  filteredValue="#{filterBean.project}" >
          

            <p:column id="idSamColumn" filterBy="#{projects.id}"                     
                      headerText="#{bundle['project.id']}" 
                      filterMatchMode="contains">                 
                 
                 <h:link target="_blank" outcome="projectDetails.jsf">
                        <f:param name="pid" value="#{projects.id}"/>
                        <h:outputText value="#{projects.id}"/>
                 </h:link>
            </p:column>
             
            <p:column id="nameColumn" filterBy="#{projects.name}"                      
                      headerText="#{bundle['project.name']}" 
                      filterMatchMode="contains">
                 <h:outputText value="#{projects.name}" />
            </p:column>
             
            <p:column id="userColumn" filterBy="#{projects.user.login}"                      
                      headerText="#{bundle['project.creator']}" 
                      filterMatchMode="contains">
                 <h:outputText value="#{projects.user.login}" />
            </p:column>
            
            <p:column id="descriptionColumn" filterBy="#{projects.description}"                      
                      headerText="#{bundle['project.description']}" 
                      filterMatchMode="contains">
                 <h:outputText value="#{projects.description}" />
            </p:column>
             
         </p:dataTable>
            
            <p:button outcome="newProjectForm.jsf" value="#{bundle['project.new.project']}" rendered="#{projectsSearchBean.hasAddPermission}"></p:button>
            
        </h:form>
        
    </ui:define>

</ui:composition>