<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="selectSamplesForProject">
        
        <h:form id="sampleTableForm">

        <p:dataTable id="sampleTable" var="samples" value="#{selectSamplesForProjectBean.samples}" widgetVar="samplesTable"
                     style="font-size: x-small;" paginator="true" rows="20"
                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {RowsPerPageDropdown}
                                        {CurrentPageReport} {NextPageLink} {LastPageLink}"
                     emptyMessage="#{bundle['data.emptymessage']}"  
                     selection="#{selectSamplesForProjectBean.selected}"  selectionMode="multiple">
            
            <p:column id="idSamColumn" filterBy="#{samples.id}"                     
                      headerText="#{bundle['samples.sample.id']}"
                      filterMatchMode="contains"
                      sortBy="#{samples.samId}">
                
                 <h:link target="_blank" outcome="../Sample/sampleDetails.jsf">
                        <f:param name="sid" value="#{samples.id}"/>
                        <h:outputText value="#{samples.id}"/>
                 </h:link>   
                 
                 
            </p:column>
             
            <p:column id="nameColumn" filterBy="#{samples.name}"                      
                      headerText="#{bundle['samples.sample.name']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.name}" />
            </p:column>
             
            <p:column id="userColumn" filterBy="#{samples.user.login}"                      
                      headerText="#{bundle['samples.requester']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.user.login}" />
            </p:column>
            
            <p:column id="statusColumn" filterBy="#{samples.status}"                     
                      headerText="#{bundle['samples.status']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.status}" />
            </p:column>
            
            <p:column id="organismColumn" filterBy="#{samples.organism}"                    
                      headerText="#{bundle['samples.organism']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.organism}" />
            </p:column>
             
            <p:column id="typeColumn" filterBy="#{samples.type}"                    
                      headerText="#{bundle['samples.sample.type']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.type}" />
            </p:column>
            
            <p:column id="antibodyColumn" filterBy="#{samples.antibody}"                  
                      headerText="#{bundle['samples.antibody']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.antibody}" />
            </p:column>
            
            <p:column id="costCenterColumn" filterBy="#{samples.costCenter}"                    
                      headerText="#{bundle['samples.cost.center']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.costCenter}" />
            </p:column>
            
            <p:column id="descriptionColumn" filterBy="#{samples.description}"                   
                      headerText="#{bundle['samples.description']}"
                      filterMatchMode="contains">
                 <h:outputText value="#{samples.description}" />
            </p:column>
             
         </p:dataTable> 
            
            <p:commandButton value="#{bundle['button.text.add.selected']}" action="#{selectSamplesForProjectBean.addSelected()}"
                             type="update"                     
                             disabled="false" update="sampleTableForm">
                <f:param name="pid" value="#{selectSamplesForProjectBean.projectId}"/>
            </p:commandButton>
            
            <p:button value="#{bundle['button.text.back']}" outcome="projectDetails.jsf">
                <f:param name="pid" value="#{selectSamplesForProjectBean.projectId}"/>
            </p:button>

        </h:form>
        
    </ui:define>

</ui:composition>
