<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="newSampleRunForm">      


        <h:form id="NewSampleRunForm">

            <p:panel id="samplerunDetailsPanel" header="#{bundle['runs.details.for']} #{newSampleRunFormBean.sampleRequestedToghetherIds}">

                <h:panelGrid columns="3" cellpadding="5">

                    <p:separator id="customSeparator1" style="width:300px;height:5px" />
                    <h:outputText value="#{bundle['runs.ids.info']}"/>
                    <p:separator id="customSeparator2" style="width:300px;height:5px" />

                    <h:outputLabel for="runId" value="#{bundle['runs.run.id']}:  "  />
                    <h:link  id="runId"  value="#{newSampleRunFormBean.id.runId}"  outcome="runDetails.jsf">
                        <f:param name="rid" value="#{newSampleRunFormBean.id.runId}"/>
                    </h:link>
                    <p:message for="runId"/>

                    <h:outputLabel for="sampleId" value="#{bundle['runs.sample.id']}:  "  />
                    <h:outputText id="sampleId" value="#{newSampleRunFormBean.sampleIds}"/> 
                    <p:message for="sampleId"/>

                    <p:separator id="customSeparator30" style="width:300px;height:5px" /> 
                    <h:outputText value="#{bundle['runs.operator.info']}"/>
                    <p:separator id="customSeparator32" style="width:300px;height:5px" /> 

                    <h:outputLabel for="userLogin" value="#{bundle['runs.user.login']}:  " />
                    <h:outputText  style="width:300px;" id="userLogin" value="#{newSampleRunFormBean.user.login}"/>
                    <p:message for="userLogin" />

                    <h:outputLabel for="userName" value="#{bundle['runs.user.name']}:  " />
                    <h:outputText  style="width:300px;" id="userName" value="#{newSampleRunFormBean.user.userName}"/>
                    <p:message for="userName" />

                    <h:outputLabel for="userEmail" value="#{bundle['runs.user.email']}:  " />
                    <h:outputText  style="width:300px;" id="userEmail" value="#{newSampleRunFormBean.user.mailAddress}"/>
                    <p:message for="userEmail" />

                    <h:outputLabel for="userTel" value="#{bundle['runs.user.tel']}:  " />
                    <h:outputText  style="width:300px;" id="userTel" value="#{newSampleRunFormBean.user.phone}"/>
                    <p:message for="userTel" />


                    <p:separator id="customSeparator40" style="width:300px;height:5px" />
                    <h:outputText value="#{bundle['runs.run.details']}"/>
                    <p:separator id="customSeparator42" style="width:300px;height:5px" />


                    <h:outputLabel for="preparationReag" value="#{bundle['runs.sampleprep.ragent']}:  " /> 
                    <p:autoComplete  id="preparationReag" style="width:300px;" required="false" 
                                     value="#{newSampleRunFormBean.preparationBarcode}"
                                     completeMethod="#{newSampleRunFormBean.completePreparation}"
                                     dropdown="true" queryDelay="300"  minQueryLength="2" maxResults="10"/>
                    <p:message for="preparationReag" />                           


                    <h:outputLabel for="sequencingReag" value="#{bundle['runs.sequencing.reagent']}:  " />
                    <p:autoComplete  id="sequencingReag" style="width:300px;" required="false" 
                                     value="#{newSampleRunFormBean.sequencingBarcode}"
                                     completeMethod="#{newSampleRunFormBean.completeSequencing}"
                                     dropdown="true" queryDelay="300"  minQueryLength="2" maxResults="10"/>
                    <p:message for="sequencingReag" />


                    <h:outputLabel for="clusterReag" value="#{bundle['runs.cluster.reagent']}:  " />
                    <p:autoComplete  id="clusterReag" style="width:300px;" required="false" 
                                     value="#{newSampleRunFormBean.clusterBarcode}"
                                     completeMethod="#{newSampleRunFormBean.completeCluster}"
                                     dropdown="true" queryDelay="300"  minQueryLength="2" maxResults="10"/>
                    <p:message for="clusterReag" /> 



                    <h:outputLabel for="lane" value="#{bundle['runs.lane']}:  " />                    
                    <p:inputTextarea id="lane" value="#{newSampleRunFormBean.lane}"  style="width:300px;" rows="1"/>
                    <p:message for="lane" />

                    <h:outputLabel for="flowcell" value="#{bundle['runs.flowcell']}:  " />
                    <p:inputMask id="flowcell" value="#{newSampleRunFormBean.flowcell}" mask="" style="width:300px;" />
                    <p:message for="flowcell" />

                    <h:outputLabel for="sequencingindex" value="#{bundle['runs.sequencing.index']}:  " />
                    <p:tabView id="sequencingindex" style="width:400px;" var="specSampleD" value="#{newSampleRunFormBean.sampleRequestedToghether}"
                               activeIndex="#{newSampleRunFormBean.tab1Index}"  >
                        <p:tab id="desc"  title="#{specSampleD.id}"   >
                            <h:selectOneMenu style="width:300px;" required="false" value="#{specSampleD.sequencingIndex}">
                                <f:selectItems id="sequencingindexForSpecificSample" value="#{newSampleRunFormBean.possibleIndexes}"/>
                            </h:selectOneMenu>
                        </p:tab>
                    </p:tabView>           
                    <p:message for="sequencingindex" />

                    <h:outputLabel for="runfolder" value="#{bundle['runs.run.folder']}:  " />
                    <p:inputMask id="runfolder" value="#{newSampleRunFormBean.runfolder}" mask="" style="width:300px;" />
                    <p:message for="runfolder" />

                    <h:outputLabel for="iscontrol" value="#{bundle['runs.is.control']}:  " /> 
                    <h:selectOneMenu style="width:300px;" required="false" value="#{newSampleRunFormBean.iscontrol}">
                        <f:selectItems id="iscontrol" value="#{preferences.bools}"/>
                    </h:selectOneMenu>
                    <p:message for="iscontrol" />





                    <p:commandButton action="#{newSampleRunFormBean.submit()}" id="submission"
                                     value="#{bundle['button.text.submit']}"  type="submit" update="NewSampleRunForm"
                                     disabled="#{!newSampleRunFormBean.userHasAddPermission}">
                        <f:param name="sid" value="#{newSampleRunFormBean.sampleID}" />
                        <f:param name="rid" value="#{newSampleRunFormBean.runID}" />
                    </p:commandButton>
                    <p:message for="submission" />


                </h:panelGrid>
            </p:panel>




        </h:form>

    </ui:define>

</ui:composition>



