<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"    
                xmlns:p="http://primefaces.org/ui"
                template="/template.xhtml">

    <ui:define name="runDetails" >      
   
        
        
        <h:form id="rundetailsForm"  >
            
             
            <h3>Run #{runDetailsBean.runID} details</h3>
            
                <p:scrollPanel  id="sampleruns"  style="width:500px;height:500px">
                    <p:dataGrid  value="#{runDetailsBean.sampleruns}" var="sampleRun" id="samplerunsgrid" columns="1">
                        <p:button icon="ui-icon-search" outcome="samplerunDetails.jsf"  title="#{bundle['runs.view.detail']}" >
                            <f:param value="#{sampleRun.id.samId}" name="sid" />
                            <f:param name="rid" value="#{runDetailsBean.runID}" /> 
                        </p:button>
                        <h:outputText value="#{bundle['runs.sample']}#{sampleRun.samId}#{bundle['runs.operator']} #{sampleRun.user.login}" style="margin-left:10px" />
                    </p:dataGrid>
                </p:scrollPanel>
            
            
             
            
          
            
            <p:button  outcome="selectSample.jsf"  value="#{bundle['button.text.add.sample']}" rendered="#{runDetailsBean.userHasAddPermission}" 
                              disabled="#{runDetailsBean.runIsClosed}" >
                <f:param name="specifySamples" value="requested"/>
                <f:param name="rid" value="#{runDetailsBean.runID}" />
            </p:button>
            
            <p:commandButton action="#{runDetailsBean.closeRun}"  value="#{bundle['button.text.close.run']}" rendered="#{runDetailsBean.userHasAddPermission}" 
                              disabled="#{!runDetailsBean.allConfirmed}" >
            </p:commandButton>
            
            
            <h></h>
             
            <p:message for="missing"  rendered="#{!runDetailsBean.sampleToBeAdded.isEmpty()}"  />
            <h></h>
            <p:scrollPanel  id="missing"  style="width:500px;height:500px" rendered="#{!runDetailsBean.sampleToBeAdded.isEmpty()}">
                    <p:dataGrid  value="#{runDetailsBean.sampleToBeAdded}" var="missingSample" id="missinggrid" columns="1">
                        <p:button icon="ui-icon-pencil" outcome="newSampleRunForm.jsf"  title="#{bundle['button.text.add.sample']}" >
                            <f:param value="#{missingSample}" name="sid" />
                            <f:param name="rid" value="#{runDetailsBean.runID}" /> 
                        </p:button>
                        <h:outputText value="sample (#{missingSample})"  style="margin-left:10px" />
                    </p:dataGrid>
           </p:scrollPanel>
            
            
            
            
         </h:form>
               
    </ui:define>

</ui:composition>
