<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Internal server error</title>
    </head>
    <body>
        <div>Sorry, a server error occurred.
            <h:link value="Home" outcome="index" />
        </div>
    </body>
</html>
