<ui:composition  
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"    
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:outputLink style="text-decoration: underline" value="/sampleSearch.jsf"><h:outputText style="color:blue;" value="Search"/></h:outputLink>
        
</ui:composition>

